
Thumbs.db
*.obj
*.exe
*.bat
*.pdb
*.user
*.aps
*.pch
*.ipch
*.vspscc
*_i.c
*.ipch
*_p.c
*.ncb
*.suo
*.sdf
*.opensdf
*.opendb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.vspx
*.psess
*.vsp
*.db
[Dd]ebug*/
*.sbr
obj/
ipch/
.vs/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Gg]enerated[Ff]iles/